{% extends "layouts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %} Cursos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <div class="main-content-container container-fluid px-4">
      <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Cursos</span>
        <h3 class="page-title">Cursos Disponibles</h3>
      </div>
    </div>
      <!-- End Page Header -->    
      <div class="row">
        {% for post in object_list %}
        <div class="col-lg-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--aside card-post--1">
            {% if post.foto %}
            <div class="card-post__image" style="background-image: url({{ post.foto.url }})"></div>
            {% endif %}
            <a href="#" class="card-post__category badge badge-pill badge-info">{{ post.genero}}</a>
            <div class="card-body">
                <h5 class="card-title">
                <a class="text-fiord-blue" href="{% url 'Curso' post.titulo|slugify %}">{{ post.titulo}}</a>
                </h5>
                <p class="card-text d-inline-block mb-3">{{ post.resumen | safe}}</p>
                <span class="text-muted">{{ post.fecha_publicacion }}</span>
            </div>
            </div>
        </div>
        {% endfor %} 
        </div>
    </div>
</div>
    
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}