// Heading Color
$heading: #175f0a;

// Text Color
$text: #997823;

// Gray Background
$bg-gray: #f4f4f4;

// Primary Color
$primary: #175f0a;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000;

// Border Color
$border: #175f0a;

// Hover Color
$hover: #175f0a;

// Footer Color
$footer: #175f0a;

// Secondary Color
$secondary: #175f0a;
