{% extends 'base.html' %}
{% load static %}
{% block title %}La historia de Inversiones & Finanzas{%endblock %}
{% block meta_description %}Esta es la página web de Inversiones y Finanzas{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image:url('{% static 'website/img/bg-img/33.jpg' %}');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1 class="title">Nuestra histora</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Nuestra histora</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/inversiones_finanzas.png' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Nuestra histora</h2>
              <div class="line"></div>
            </div>
            <p>Nos gusta ayudar a la gente. También sabemos que el principal problema de mucha gente es que no tiene tiempo para organizar sus finanzas. Es por esa razón que nació Inversiones & Finanzas. Te brindamos nuestra ayuda y las herramientas para solucionar tus problemas financieros o mejorar tus inversiones. Todo lo que necesitas saber para no preocuparte nunca más del dinero. </p>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Modernidad de nuestras técnicas</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="37"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Eficacia de nuestras técnicas</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Dedidación de nuestro equipo</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="100"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_wallet"></i>
            <h2>+<span class="counter">50</span></h2>
            <h5>Estrategias de inversión</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="fa fa-clock-o"></i>
            <h2>+<span class="counter">100</span></h2>
            <h5>Horas de curso disponibles</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="fa fa-line-chart"></i>
            <h2>+<span class="counter">80</span>%</h2>
            <h5>Resultados positivos</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2>+<span class="counter">3000</span></h2>
            <h5>Cursos</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'website/img/bg-img/invertir.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/Joel_Greenblatt.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Elegir acciones individuales sin una idea de lo que estás buscando es como atravesar una fábrica de dinamita con una cerilla encendida. Puedes sobrevivir, pero sigues siendo un idiota.”</h5>
                <h6>Joel Greenblatt</h6>
                <p></p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/Mario_Gabelli.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Debes entender a las acciones como si fueran partes de un negocio que quieres comprar con un descuento .”</h5>
                <h6>Mario Gabelli</h6>
                <p></p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/Mohnish_Pabrai.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“La gente ve la pobreza a su alrededor en la India, pero son insensibles o inmune a ella. Llegué a la conclusión de que la pobreza se debe a la falta de educación.”</h5>
                <h6>Mohnish Pabrai</h6>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Nuestro personal experto</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/30.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/31.png' %}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                <h5>Michael Barley</h5>
                <p>Implant Expert</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

  


{% endblock %}