{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="{% block meta_description %}Bienvenido a Inversiones y Finanzas. La asesoría que realmente se preocupa de que ganes más dinero.{% endblock %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}Inversiones & Finanzas{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/invertirenbolsa.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style3.css' %}">

  <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="152 Avenida Camarones, Azcapotzalco, Ciudad de México"><i class="fa fa-map-marker"></i> <span>152 Avenida Camarones, Azcapotzalco, Ciudad de México</span></a>
              <a href="mailto: a.inversionesyfinanzas@gmail.com" data-toggle="tooltip" data-placement="bottom" title="a.inversionesyfinanzas@gmail.com"><i class="fa fa-envelope"></i> <span>a.inversionesyfinanzas@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://www.facebook.com/Inversiones.y.Finanzas.Para.Todos" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="mailto: a.inversionesyfinanzas@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Email"><i class="fa fa-envelope"></i></a>
              <a href="https://www.youtube.com/channel/UCLC5OpaeNlcUyIKHFOXRlpw?sub_confirmation=1" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/finanzaseinversiones.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Inicio</a></li>
                  <li><a href="{% url 'about' %}">Nuestra historia</a></li>
                  <li><a href="{% url 'service' %}">Servicios</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'service' %}">Nuestros Servicios</a></li>
                      <li><a href="{% url 'asesoramiento' %}">Asesoramiento</a></li>
                      <li><a href="{% url 'asesoramiento' %}">Consultas</a></li>
                      <li><a href="{% url 'cursos' %}">Campus</a></li>
                      <li><a href="{% url 'cursos' %}">Cursos</a>
                        <ul  class="dropdown">                          
                          <li><a href="{% url 'cursos' %}">Cursos</a></li>
                          <li><a href="{% url 'cursos' %}">Talleres</a></li>                          
                        </ul>
                      </li>
                      <li><a href="{% url 'analisis' %}">Análisis de empresas</a></li>
                      <li><a href="{% url 'crypto' %}">Activos Digitales</a></li>
                      <li><a href="{% url 'pricing' %}">Precios</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'contact' %}">Contacto</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'blog' %}">Nuestro Blog</a>                   
                      <li><a href="{% url 'recomendaciones' %}">Recomendaciones</a></li>                    
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            {% if user.is_authenticated %}
            <a  href="{% url 'dashboard' %}"  class="btn dento-btn booking-btn">Perfil</a>
            {% else %}
            <a  href="{% url 'login' %}"  class="btn dento-btn booking-btn">Ingresar</a>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->



{% block content %}

{% endblock %}






 <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/inversioneswallstreet.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="{% url 'home' %}" class="d-block mb-4"><img src="{% static 'website/img/core-img/inversionesyfinanzas.png' %}" alt=""></a>
            <p>No solo mejorarás tus finanzas personales, también aprenderás a invertir y aumentar tu patrimonio.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> 152 Avenida Camarones, Azcapotzalco, Ciudad de México</p>
              <p><i class="icon_phone"></i> 5562840178</p>
              <p><i class="icon_mail"></i>a.inversionesyfinanzas@gmail.com</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Horario de Apertura</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Lunes - Miércoles</span> <span>8:00 - 18:00</span></li>
              <li><span>Jueves - Viernes</span> <span>8:00 - 17:00</span></li>
              <li><span>Sábado</span> <span>9:00 - 17:00</span></li>
              <li><span>Domingo</span> <span>10:00 - 17:00</span></li>              
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Links</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'legal' %}">Legals</a></li>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="{% url 'politicas' %}">Políticas</a></li>
                <li><a href="{% url 'about' %}">Novedades</a></li>                
                <li><a href="{% url 'faq' %}">Preguntas frecuentes</a></li>                
                <li><a href="{% url 'service' %}">Servicios</a></li>
                <li><a href="{% url 'about' %}">Nuestra historia</a></li>              
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Novedades</h5>

            <p>Te mantendremos al día de todas las novedades y ofertas exclusivas.</p>
            <!-- Newsletter Form -->
            <div class="footer-newsletter-form">
              <form action="{% url 'base' %}" method="post">
                {% csrf_token %}
                <input type="email" name="nl_email" placeholder="Email">
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form>
            </div>

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://www.facebook.com/Inversiones.y.Finanzas.Para.Todos" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCLC5OpaeNlcUyIKHFOXRlpw?sub_confirmation=1" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
              <a href="mailto: a.inversionesyfinanzas@gmail.com" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |<a href="https://colorlib.com" target="_blank">Inversiones & Finanzas</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>