{% extends 'base.html' %}
{% load static %}
{% block title %}Inversiones & Finanzas - Legal{%endblock %}
{% block meta_description %}Dinos cómo podemos ayudarte en Inversiones & Finanzas{% endblock %}
{% block content %}
<!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/33.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                <h2 class="title">Aviso Legal</h2>
                </div>
            </div>
        </div>
    </div>
        <div class="breadcumb--con">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i>Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Aviso Legal</li>
                            </ol>
                        </nav>
                    </div>    
                </div>
            <div class="col-12">
                <div class="section-heading text-center white">
                    <h1><strong>Aviso Legal</strong></h1>
                <div class="line"></div>
            </div>
            <div class="main ng-scope" ng-if="!generator.isLastStep()">
                <div class="article" id="intro">
                    <h2>Aviso Legal</h2>
                    <p style="text-align: justify;">Inversiones & Finanzas puede venir como el "Titular".</p>
                    <p style="text-align: justify;"><strong>Identificación y Titularidad</strong></p>
                    <p style="text-align: justify;">Inversiones & Finanzas domiciliado en 152 Avenida Camarones, Obrero Popular, Azcapotzalco, Ciudad de México, México. </p>
                    <p style="text-align: justify;"><strong>Finalidad </strong></p>
                    <p style="text-align: justify;">La finalidad de Inversiones & Finanzas es ayudar a la getne a mejorar su vide financiera. No se dan consejos de inversión.</p>
                    <p style="text-align: justify;"><strong>Condiciones de Uso </strong></p>
                    <p style="text-align: justify;">La utilización del sitio Web le otorga la condición de Usuario, e implica la aceptación completa de todas las cláusulas y condiciones de uso incluidas en las páginas:

                        Aviso Legal
                        Política de Privacidad
                        Política de Cookies
                        Si no estuviera conforme con todas y cada una de estas cláusulas y condiciones absténgase de utilizar este sitio Web.
                        
                        El acceso a este sitio Web no supone, en modo alguno, el inicio de una relación comercial con el Titular.
                        
                        A través de este sitio Web, el Titular le facilita el acceso y la utilización de diversos contenidos que el Titular o sus colaboradores han publicadon por medio de Internet.
                        
                        A tal efecto, usted está obligado y comprometido a NO utilizar cualquiera de los contenidos del sitio Web con fines o efectos ilícitos, prohibidos en este Aviso Legal o por la legislación vigente, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los contenidos, los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático propios o contratados por el Titular, de otros usuarios o de cualquier usuario de Internet.</p>
                    <p style="text-align: justify;"><strong>Comentarios </strong></p>
                    <p style="text-align: justify;">El Titular se reserva el derecho de retirar todos aquellos comentarios que vulneren la legislación vigente, lesivos de los derechos o intereses de terceros, o que, a su juicio, no resulten adecuados para su publicación.

                        El Titular no será responsable de las opiniones vertidas por los usuarios a través del sistema de comentarios, redes sociales u otras herramientas de participación, conforme a lo previsto en la normativa de aplicación.</p>
                    <p style="text-align: justify;"><strong>Medidas de seguridad </strong></p>
                    <p style="text-align: justify;">Los datos personales que facilite al Titular pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a el Titular, que asume todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente en protección de datos.

                        No obstante, debe ser consciente de que las medidas de seguridad de los sistemas informáticos en Internet no son enteramente fiables y que, por tanto el Titular no puede garantizar la inexistencia de virus u otros elementos que puedan producir alteraciones en los sistemas informáticos (software y hardware) del Usuario o en sus documentos electrónicos y ficheros contenidos en los mismos aunque el Titular pone todos los medios necesarios y toma las medidas de seguridad oportunas para evitar la presencia de estos elementos dañinos.</p>
                    <p style="text-align: justify;"><strong>Contenidos </strong></p>
                    <p style="text-align: justify;">El Titular ha obtenido la información, el contenido multimedia y los materiales incluidos en el sitio Web de fuentes que considera fiables, pero, si bien ha tomado todas las medidas razonables para asegurar que la información contenida es correcta, el Titular no garantiza que sea exacta, completa o actualizada. El Titular declina expresamente cualquier responsabilidad por error u omisión en la información contenida en las páginas de este sitio Web.

                        Queda prohibido transmitir o enviar a través del sitio Web cualquier contenido ilegal o ilícito, virus informáticos, o mensajes que, en general, afecten o violen derechos de el Titular o de terceros.
                        
                        Los contenidos del Sitio Web tienen únicamente una finalidad informativa y bajo ninguna circunstancia deben usarse ni considerarse como oferta de venta, solicitud de una oferta de compra ni recomendación para realizar cualquier otra operación, salvo que así se indique expresamente.
                        
                        El Titular se reserva el derecho a modificar, suspender, cancelar o restringir el contenido del Sitio Web, los vínculos o la información obtenida a través del sitio Web, sin necesidad de previo aviso.
                        
                        El Titular no es responsable de los daños y perjuicios que pudieran derivarse de la utilización de la información del sitio Web o de la contenida en las redes sociales del Titular.</p>
                    <p style="text-align: justify;"><strong>Propiedad intelectual e industrial </strong></p>
                    <p style="text-align: justify;">Todos los derechos están reservados.

                        Todo acceso a este sitio Web está sujeto a las siguientes condiciones: la reproducción, almacenaje permanente y la difusión de los contenidos o cualquier otro uso que tenga finalidad pública o comercial queda expresamente prohibida sin el consentimiento previo expreso y por escrito de Titular.</p>
                    <p style="text-align: justify;"><strong>Limitación de responsabilidad </strong></p>
                    <p style="text-align: justify;">La información y servicios incluidos o disponibles a través de este sitio Web pueden incluir incorrecciones o errores tipográficos. De forma periódica el Titular incorpora mejoras y/o cambios a la información contenida y/o los Servicios que puede introducir en cualquier momento.

                        El Titular no declara ni garantiza que los servicios o contenidos sean interrumpidos o que estén libres de errores, que los defectos sean corregidos, o que el servicio o el servidor que lo pone a disposición estén libres de virus u otros componentes nocivos sin perjuicio de que el Titular realiza todos los esfuerzos en evitar este tipo de incidentes.
                        
                        Titular declina cualquier responsabilidad en caso de que existan interrupciones o un mal funcionamiento de los Servicios o contenidos ofrecidos en Internet, cualquiera que sea su causa. Asimismo, el Titular no se hace responsable por caídas de la red, pérdidas de negocio a consecuencia de dichas caídas, suspensiones temporales de fluido eléctrico o cualquier otro tipo de daño indirecto que te pueda ser causado por causas ajenas a el Titular.
                        
                        Antes de tomar decisiones y/o acciones con base a la información incluida en el sitio Web, el Titular le recomienda comprobar y contrastar la información recibida con otras fuentes.</p>
                    <p style="text-align: justify;"><strong>Derecho de exclusión </strong></p>
                    <p style="text-align: justify;">Titular se reserva el derecho a denegar o retirar el acceso al sitio Web y los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan cualquiera de las condiciones de este Aviso Legal.</p>
                    <p style="text-align: justify;"><strong>Contacto </strong></p>
                    <p style="text-align: justify;">En caso de que usted tenga cualquier duda acerca de estas Condiciones legales o quiera realizar cualquier comentario sobre este sitio Web, puede enviar un mensaje de correo electrónico a la dirección a.inversionesyfinanzas@gmail.com</p>
                    
                </div>
            </div>
        </div>    
    </div>
  



{% endblock %}





