{% extends 'base.html' %}
{% load static %}
{% block title %}Inversiones & Finanzas - Recomendaciones{%endblock %}
{% block content %}
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/inversionesrentables.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                <h2 class="title">Recomendaciones</h2>
                </div>
            </div>
        </div>
    </div>
        <div class="breadcumb--con">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i>Inicio</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog' %}"></i> Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Recomendaciones</li>
                            </ol>
                        </nav>
                    </div>    
                </div>
            <div class="col-12">
                <div class="section-heading text-center white">
                    <h1><strong>Recomendaciones</strong></h1>
                <div class="line"></div>
            </div>
            <div class="main ng-scope" ng-if="!generator.isLastStep()">
                <div class="article" id="intro">
                    <p style="text-align: justify;"><strong>Título</strong></p>
                    <p style="text-align: justify;">Texto</p>        
                </div>
            </div>
        </div>
    </div>


{% endblock %}