
    <div class="promo-popup animated">
        <div class="pp-intro-bar">ASCIENDE tu estatus a SUPERIOR AHORA
            <span class="close">
                <i class="material-icons">close</i>
            </span>
            <span class="up">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        </div>
        <div class="pp-inner-content">
            <h2>Mejora tus finanzas</h2>
            <p>Te REGALAMOS un ASCENSO para OBTENER GRATIS todas las funcionalidades que tu perfil tiene para que puedas MEJORAR tus FINANZAS. Solicita un producto o servicio para que te AYUDEMOS y DESBLOQUEARLO.</p>
            <a class="pp-cta extra-action" href="#">MEJORAR mi ESTATUS</a>
        </div>
    </div>
