
    <div class="promo-popup animated">
        <div class="pp-intro-bar">NO TE QUEDES FUERA
            <span class="close">
                <i class="material-icons">close</i>
            </span>
            <span class="up">
                <i class="material-icons">keyboard_arrow_up</i>
            </span>
        </div>
        <div class="pp-inner-content">
            <h2>El Campus del Inversor Inteligente</h2>
            <p>¿Aún no formas parte del exclusivo Campus del Inversor Inteligete? 😱 ¿A qué estás esperando? </p>
            <a class="pp-cta extra-action" href="#">See products</a>
        </div>
    </div>